.header{
    margin: auto; 
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    background-color: #88c9e3;
    padding: 10px;
    font-family:monospace;
    transition: color 0.3s ease;
    text-decoration: none;
 }