form{
    color: white;
    background-color: #2e5b93;
    border: 1px solid black;
    width: 40%;
    margin-left: 30%;
    padding: 5%;
    margin-top: 2%;
}

.btn{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}
.btn:hover{
    border: 1px solid white;
    color: white;
}